@let currencies = currencies$ | async;
@let currencyConversion = currencyConversion$ | async;
@if(currencies){
  <div class="container">
    <form [formGroup]="currencyConversionForm" (ngSubmit)="submit()">
      <div class="converter">
        <div class="row">
          <span>From:</span>
          <select aria-placeholder="Choose Your From Currency" formControlName="from">
            @for(currency of currencies.response; track $index){
              <option [value]="currency.short_code">{{currency.name}}</option>
            }
          </select>
          @if(currencyConversionForm.controls['from'].hasError('required')){
            <div class="error">
              Please Select a currency.
            </div>
          }
        </div>
        <div class="row">
          <span>To:</span>
            <select aria-placeholder="Choose Your From Currency" formControlName="to">
            @for(currency of currencies.response; track $index){
              <option [value]="currency.short_code">{{currency.name}}</option>
            }
          </select>
          @if(currencyConversionForm.controls['to'].hasError('required')){
            <div class="error">
              Please Select a currency.
            </div>
          }
        </div>
        <div class="row">
          <span>Amount:</span>
          <input  type="number" min="0.00" step="0.01" formControlName="amount">
          @if(currencyConversionForm.controls['amount'].touched && currencyConversionForm.controls['amount'].hasError('required') || 
            currencyConversionForm.controls['amount'].hasError('invalidValue')){
            <div class="error">
              Please type correct amount.
            </div>
          }
        </div>
        <div class="row button">
          <button type="submit">Convert</button>
        </div>
      </div>
    </form>
    @if(currencyConversion){
      <div class="result">Conversion: {{currencyConversion?.value | currency: currencyConversion.to}}</div>
    }
  </div>
}@else {
  <h1>Something went wrong. Try again.</h1>
}

